#required{
    color: red;
}

input:invalid:not(:placeholder-shown){
    border-color: red;
}
input:valid:not(:placeholder-shown){
    border-color: rgb(0, 255, 0);
}

:root{
    --form-padding: 20px;
    --background-color: rgb(123, 104, 238);
    --content-background-color: rgb(147, 112, 219);
}

*{
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.form-wrapper{
    color: white;
    border: 0px;
    border-radius: 3px;
    display: grid;
    grid-template-rows: 1fr 4fr;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.form-head-wrapper{
    border-bottom: 0px;
    background-color: var(--background-color);
    padding: var(--form-padding);
    display: flex;
    justify-content: center;
}

/* .form-title{
    margin: 0px;
    grid-area: title;
} */
.content-wrapper{
    padding: var(--form-padding);
    background-color: var(--content-background-color);
    display: grid;
    grid-template: 
    "login" 
    "photo" 100px
    "password"
    "button-submit" /220px;
}

.login-wrapper{
    grid-area: login;
}

.photo-wrapper{
    padding-top: 20px;
    grid-area: photo;
}

.password-wrapper{
    grid-area: password;
}

.button-wrapper{
    grid-area: button-submit;
}

.button-submit{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    width: 70px;
    height: 30px;
    transition: background-color 1s ease;
} 

.button-submit:hover{
    color: white;
    background: #8A2BE2;
}

.button-submit:active{
    color: white;
    background: #9400D3;
}

.form-login,
.form-password{
    font-size: 15px;
}
@media only screen and (min-width: 320px) and (max-width: 1025px){
    div{
        display: grid;
    }
    .form-wrapper{
        width: 100vw;
        height: 100vh;
    }
    .form-head-wrapper{
        align-items: center;
    }
    .form-title{
        font-weight: bolder;
    }
    .content-wrapper{
        grid-template: 
        "login" 50px
        "photo" 100px
        "password" 50px
        "button-submit" 150px /250px;
    }
    .form-login,
    .form-password{
        font-size: 20px;
        align-items: center;
    }
    label{
        font-size: large;
        font-weight: bold;
    }
    span{
        font-weight: bold;
    }
    .button-wrapper{
        justify-content: center;
        align-items: center;
    }
    .button-submit{
        width: 100px;
        height: 80px;
        border-radius: 5px;
    }
}
    @media only screen and (min-width: 540px) and (max-width: 1025px){
        .form-wrapper{
            width: 100%;
            height: 100%;
            font-size: 25px;
        }
        .content-wrapper{
            justify-content: center;
        }
        .content-wrapper{
            grid-template: 
            "login" 100px 
            "photo" 100px
            "password" 100px
            "button-submit" 150px / 400px;
        }
        .form-login,
        .form-password{
        font-size: 30px;
        }
        label{
            font-size: 22px;
        }
        .form-photo{
            size: 100%;    
        }
        .button-submit{
            width: 150px;
            height: 60px;
            font-weight: bold;
            font-size: larger;
        }
    }
